<footer class="page-footer">
	<div class="page-footer__wraper">
		<div class="page-footer__work-time">
			<h2 class="work-time__title">Öffnungszeiten</h2>
			<p>Montag bis Freitag:
				<br>
				8 bis 20 Uhr
				<br>
				<br>
				Sonntag:
				<br>
				10 bis 13 Uhr
			</p>
		</div>
		<div class="page-footer__kontakt">

			<h2 class="kontakt__title">Kontakt</h2>
			<br>
			<b>Physio Aktiv</b>
			<br>
			<a href="#" class="kontakt__adress"> Deichstrasse 52-56
			<br>
				27318 Hoya</a>
			<br>
			<br>
			<a href="tel:04251-1460" class="kontakt__phone"> 04251-1460</a>
			<br>
			<br>
			<a href="mailto:info@physio-aktiv-hoya.de" class="kontakt__mail"> info@physio-aktiv-hoya.de</a>
		</div>
	</div>
		<div class="page-footer__copyright">lBeJIuk 2017</div>
</footer>
<script type="text/javascript" src="../js/script.js"></script>
</body>
</html>

