.page-information{
	background-color: #fafafa;
}

.page-information p{
	padding: 0;
	margin: 0;
	}

	.page-information__wraper{
		width: 936px;
		margin: 0 auto;
		background-color: #ffffff;
		border: 1px solid #eee;
		border-top: 60px solid #ddd;
		border-radius: 20px;
		position: relative;
		z-index: 10;
		margin-top: -60px;
	}


.page-information__wraper{

}

	.page-information__header{
		background-color: #ebebeb;
	}

.page-information__header p{
		font-size: 26px;
		padding: 0;
		margin: 0;
		text-align: center;
		padding-top: 40px;
	} 
.page-information__header h1{
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		color: #D37141;
		text-align: center;
		padding-bottom: 40px;
	} 

	.page-information__table{
		display: flex;

	}

.table__table-item{
	width: 33.33%;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 60px;
	}

.table-item__link{
	display: block;
	width: 180px;
	height: 180px;
	font-size: 20px;
	background-color: #f4f4f4;
	background-image: linear-gradient(to top, #dbdbdb,#f8f8f8);
	border-radius: 50%;
	margin: 0 auto;
	transition: all 1s;
	line-height: 180px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color:#eaeaea;

	&:hover{
		background-image: none;
		background-color: #D57840;
		color: #fff;
	}
}

.table__table-item h2{
	text-align: center;
	color: #E78748;
	margin-top: 40px;
	margin-bottom: 40px;
}

.table__table-item p{
	color:#888383;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: 10px;
}

