.page-footer{
	background-color: #eee;
}

.page-footer__wraper{
	width: 936px;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}
.page-footer__work-time{
	width: 230px;
}

.page-footer__kontakt{
	width: 230px;
}
.page-footer__copyright{
	background-color: #D37136;
	width: 100%;
	color:#fff;
	text-align: center;
	font-size: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

